:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

.info-text {
  text-align: center;
}

.post-img {
  width: 100%;
}

.post-img img {
  width: 100%;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.8);
}

mat-paginator {
  margin-top: 1rem;
}
