<mat-toolbar color='primary'>
  <span>
    <a routerLink='/'>MyMessages</a>
  </span>
  <span class='spacer'></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink='/create' routerLinkActive='mat-accent'>New posts</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink='/auth/login' routerLinkActive='mat-accent'>Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink='/auth/signup' routerLinkActive='mat-accent'>SignUp</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
