<h1>Signup</h1>
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)='onSignup(signupForm)' #signupForm='ngForm' *ngIf="!isLoading ">
    <mat-form-field>
      <input matInput name='email' ngModel type="email" placeholder="E-mail" #emailInput='ngModel' required email />
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput name='password' ngModel type="password" placeholder="Password" #passwordInput required />
      <mat-error *ngIf="passwordInput.invalid">Please enter a password</mat-error>
    </mat-form-field>
    <button mat-raised-button color='primary' type="submit" *ngIf="!isLoading">
      Sign up
    </button>
  </form>
</mat-card>
