mat-form-field,
textarea {
  width: 100%;
}

mat-form-field {
  margin: 1rem;
}

mat-spinner {
  margin: auto;
  width: 30%;
}

input[type='file'] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
