<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]='form' *ngIf="!isLoading " (submit)="onSavePost()">
    <mat-form-field>
      <input matInput formControlName="title" type="text" placeholder="Post title" />
      <mat-error *ngIf="form.get('title').invalid">Please enter a title</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type='button' (click)="filePicker.click()">Pick
        an image</button>
      <input type="file" #filePicker (change)='onImagePicked($event)'>
      <mat-error *ngIf="!valid">Please select an image</mat-error>
    </div>
    <div class='image-preview' *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]='imagePreview' [alt]='form.value.title'>
    </div>
    <mat-form-field>
      <textarea matInput formControlName="content" rows="3" placeholder="Post content"></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter the content</mat-error>
    </mat-form-field>
    <button mat-raised-button color='primary' type="submit">
      save post
    </button>
  </form>
</mat-card>
